:root {
    --white: #ffffff;
    --red: #dd3333;
    --dot-color: #dd3333;
}

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
}

/* button */


/* animation */
.animated-button-out {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 4px solid rgba(30, 30, 30, 0.4);
    border-color: var(--red);
    opacity: .5;
    z-index: 9999;
}

.animated-button-in {
    width: 75px;
    height: 75px;
    top: -8px;
    left: -8px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: rgba(213, 5, 1, 0.39);
    opacity: .75;
    z-index: 9999;
    animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* animation */
.contact-button {
    position: fixed;
    bottom: 28px;
    right: 28px;
}

.button-fixed {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 100rem;
}

.button-fixed>img {
    transition: transform 0.5s;
    transition-delay: 0.5s;
    object-fit: cover;
}

.button-fixed .button-fixed-comment {
    width: 50%;
    height: 50%;
    margin-top: 7px;
    margin-left: 2px;
}

.button-fixed .button-fixed-close {
    width: 35%;
    height: 35%;
}

.button-fixed>img:hover {
    transform: rotateY(180deg);
}

/* button */

/* popup contact */
.popup__contact {
    position: fixed;
    width: 310px;
    height: max-content;
    box-shadow: 0 0 50px rgb(0 0 0 / 24%);
    border-radius: 8px;
    background-color: #fff;
    transition: all .2s ease-in-out;
    visibility: hidden;
    transform: scale(.1);
    bottom: 100px;
    right: 16px;
    transform-origin: bottom right;
}

.popup__contact.active {
    transform: scale(1);
    visibility: visible;
}

.popup__contact .popup__contact--top {
    border-radius: 8px 8px 0 0;
    position: relative;
    background-color: var(--red);
    padding: 15px;
    font-size: 15px;
    color: #ffffff;
}

.popup__contact .popup__contact--top img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
}

.popup__contact .popup__contact--content a {
    display: flex;
    align-items: center;
    color: #000000;
    line-height: 18px;
    gap: 12px;
    padding: 7px 10px;
}

.popup__contact .popup__contact--content a:hover {
    background-color: #f0f0f0;
}

.popup__contact .popup__contact--content a div:nth-child(1) {
    width: 30px;
    text-align: center;
    padding-top: 30px;
    height: 30px;
}

.popup__contact .popup__contact--content a div:nth-child(1).small.img-wrap img {
    transform: scale(0.6);
}

.popup__contact .popup__contact--content a div:nth-child(2) p:nth-child(1) {
    font-size: 14px;
}

.popup__contact .popup__contact--content a div:nth-child(2) p:nth-child(2) {
    font-size: 12px;
    margin-top: 1px;
    color: #999;
}

.popup__contact .popup__contact--footer {
    cursor: pointer;
    padding: 16px;
    transition: all 0.3s;
}

.popup__contact .popup__contact--footer.active {
    transform: translateX(10px);
    color: var(--red);
}

.popup__contact .popup__contact--footer input[type="checkbox"] {
    margin-right: 5px;
}

.popup__contact .popup__contact--loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.popup__contact .popup__contact--loading.hidden {
    display: none !important;
}

.popup__contact .popup__contact--content.hidden {
    display: none !important;
}

.popup__contact .popup__contact--form {
    padding: 16px;
}

.popup__contact .popup__contact--form div {
    margin-bottom: 10px;
}

.popup__contact .popup__contact--form div label {
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: 500;
    display: block;
}

.popup__contact .popup__contact--form div input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background: #f7f7f7;
    border: 1px solid #dcdbdb;
}

.popup__contact .popup__contact--form div textarea {
    resize: none;
    width: 100%;
    background: #f7f7f7;
    border: 1px solid #dcdbdb;
    padding: 8px;
    height: 200px;
}

.popup__contact .popup__contact--form div input:focus,
.popup__contact .popup__contact--form div textarea:focus {
    background: #ffffff;
}

.popup__contact .popup__contact--form input[type="submit"] {
    background-color: var(--red);
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    padding: 12px 8px;
    border-radius: 4px;
}

/* popup contact */